<footer class='footer-container'>
    <h4 class='htitle'><span>About ©Beaver Post</span></h2>
      <hr class="line" width="115px">
    <ul class='fc'>
        <li class="ff"><a href="#">Contact Us</a></li>
        <li class="ff"><a href="#">Community</a></li>
        <li class="ff"><a href="#">Feedback</a></li>
        <li class="ff"><a href="#">Terms Of Use</a></li>
    </ul>
</footer>
