<header>
  <a href="#"><h1 class="site-title">Beaver Post</h1></a>
  <div class="box">
  </div>

  
  <article class="new-post">
    <div class="new-post-content">
      <input type="text" id="new-post-input" placeholder="What's on your mind?" onkeypress="enter(event)">
    </div>
    <button id="new-post-button">Post</button>
    <p class="post-text"><br></p>
  </article>

</header>
