<section class="links-container">
    <h2 class="links-title">Links</h2>
    <div class="search">
        <input type="text" id="search-input" placeholder="Search...">
        <button type="button" id="search-button"><i class="fa fa-search"></i></button>
    </div>
    <hr width="85%">
    <ul class="link-list">
        <li class="link"><a href="http://oregonstate.edu/" target="_blank"><span>OSU</span></a></li>
        <li class="link"><a href="#"><span>Facebook</span></a></li>
        <li class="link"><a href="#"><span>Twitter</span></a></li>
        <li class="link"><a href="#"><span>Snapchat</span></a></li>
        <li class="link"><a href="#"><span>Pinterest</span></a></li>
    </ul>
    <ul class="link-list">
      <li class="link-popular"><a href="#"><span>Popular</span></a></li>
      <li class="link"><a href="#"><span>Sports</span></a></li>
      <li class="link"><a href="#"><span>Academics</span></a></li>
    </ul>
</section>
