/* This is the css for the announcements!*/
.announcements{
    float: right;
}
.announcement-title{
    font-family: 'Raleway', sans-serif;
    size: 20px;
}
.announce{
    font-family: 'Raleway', sans-serif;
}
