body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  background-color: #e1dfdf;
}

a {
  text-decoration: none;
}

.site-title {
  margin: 0;
  padding: 10px 20px;
  font-size: 30px;
  background-color: #ffad46;
  color: #fff;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.box {
  position: relative;
  margin-left: 5%;
  width: 90%;
  height: 180px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/8/87/Weatherford_Hall_Oregon_State_University_Greg_Keene.jpg');
  border-radius: 10px;
}

.picture{
  max-width: 100%;
  max-height: 100%;
}
