/*This is the CSS for the left side bar for Beaver Post*/
.links-container{
    float: left;
    margin-top: 50px;
    margin-left: 2.5%;
    margin-bottom: 15px;
    background-color: white;
    width: 20%;
    border-radius: 10px;
}

.links-title{
    font-family: 'Raleway', sans-serif;
    color: white;
    background-color: #f69e31;
    margin: 0 0 5px 0;
    size: 35px;
    padding: 10px 20px;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.link-list{
    margin: 0;
    padding: 0 15px 10px 30px;
}

.link{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    padding-bottom: 5px;
}

.search{
    text-align: center;
    margin-bottom: 5px;
}

#search-input{
    background-color: #eeeeee;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    color: gray;
    border: 1px solid lightgray;
    padding: 3px;
    border-radius: 2px;
}

#search-input:focus{
    background-color:white;
    outline: none;
    color: gray;
}

#search-button{
    background: none;
    border: none;
    font-size: 16px;
}
