.post-container{
    margin-left: 20%;
    float:left;
}

#like-number {
  font-size: 20px;
  color: RGBA(255, 165, 0, .6);
  border: none;
  width: 50px;
  padding: 0px;
}

#like-number:focus {
  outline: none;
}

#like-button {
  margin-left: -5px;
  font-size: 20px;
  background: none;
  border: none;
  color: RGBA(52, 52, 52, .3);
  //color: #e1dfdf;
  cursor: pointer;
}

#like-button:hover {
  color: RGBA(255, 165, 0, .5);
}

#like-button:focus {
  outline: none;
}

#dislike-button {
  margin-left: -5px;
  font-size: 20px;
  background: none;
  border: none;
  color: RGBA(52, 52, 52, .3);
  cursor: pointer;
}

#dislike-button:hover {
  color: RGBA(255, 165, 0, .5);
}

#dislike-button:focus {
  outline: none;
}

#like-number:hover{
  cursor: default;
}

#like-number{
  //background-color: #e1dfdf;
}

.post-icon-up{
  display: inline-block;
  width: 25px;
}

.post-number{
  width: 30px;
  margin: 0;
}

.post-icon-down{
  display: inline-block;
  width: 25px;
}

.post-text{
  font-family: 'Raleway', sans-serif;
}

.post-container {
  display: inline-block;
  position:absolute;
  top:230px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
}

.post{
  padding-left: 20px;
  background-color: white;
  /*width: 380px;*/
  border-radius: 10px;
  min-height: 75px;
}

.post-content {
  margin-left: 40px;
  padding-top: 3px;
}
.votes{
    display: block;
    float:left;
}
