{{> header}}

<main class="post-container">
    {{#each posts}}
        {{> post}}
    {{/each}}
</main>

<section class="links-container">
    <h2 class="links-title">Links</h2>
    <div class="search">
        <input type="text" id="search-input" placeholder="Search...">
        <button type="button" id="search-button"><i class="fa fa-search"></i></button>
    </div>
    <hr width="85%">
    <ul class="link-list">
        <li class="link"><a href="http://oregonstate.edu/" target="_blank"><span>OSU</span></a></li>
        <li class="link"><a href="#"><span>Facebook</span></a></li>
        <li class="link"><a href="#"><span>Twitter</span></a></li>
        <li class="link"><a href="#"><span>Snapchat</span></a></li>
        <li class="link"><a href="#"><span>Pinterest</span></a></li>
    </ul>
    <ul class="link-list">
      <li class="link-popular"><a href="#"><span>Popular</span></a></li>
      <li class="link"><a href="#"><span>Sports</span></a></li>
      <li class="link"><a href="#"><span>Academics</span></a></li>
    </ul>
</section>

<section class='announcement-container'>
    <h2 class='announcement-title'><span>Announcements</span></h2>
    <ul class='announcements'>
        <li class="announcement"><span>OSU has hot weather! Don't forget your sunblock.</span></li>
        <li class="announcement"><span>Sports This Week:</span></li>
        <ul class="mini-announcements">
            <li class="announcement"><span>Baseball v WSU</span></li>
            <li class="announcement"><span>Soccer v UO</span></li>
        </ul>
        <li class="announcement"><span>Shoutout to Rob Hess</span></li>
        <li class="announcement"><span>This is me just filling up space</span></li>
        <li class="announcement"><span>I didn't want it to be super short so I could have an idea of how big it would be</span></li>
        <li class="announcement"><span>If you guys have any ideas of things to put here please do it</span></li>
        <li class="announcement"><span>Space filler</span></li>
        <li class="announcement"><span>Who likes lorem ipsum anyways?</span></li>
        <li class="announcement"><span>Not me thats for sure</span></li>
        <li class="announcement"><span>But now I see its usefullness</span></li>
    </ul>
</section>
