/*This is the CSS for the left side bar for Beaver Post*/
.links-container{
    position:fixed;
    left: 10px;
    top: 158px;
    float: left;
    margin-top: 50px;
    margin-left: 2.5%;
    margin-bottom: 15px;
    background-color: white;
    width: 20%;
    border-radius: 10px;
}

.links-title{
    font-family: 'Raleway', sans-serif;
    color: white;
    background-color: #ffad46;
    margin: 0 0 5px 0;
    size: 35px;
    padding: 10px 20px;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.link-list{
    margin: 0;
    padding: 0 15px 10px 30px;
}

.link{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    padding-bottom: 5px;
}

.link-popular{
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  padding-bottom: 5px;
}
.search{
    padding-top: 3px;
    padding-left: 14px;
    margin-bottom: 5px;
}

a {
  color: black;
}

a span:hover {
  color: #f69e31;
  text-decoration: underline;
}

ul li{
    color: #f69e31;
}

ul li span{
    color: black;
}

#search-input{
    background-color: #eeeeee;
    color: black;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    border: 1px solid lightgrey;
    border-radius: 50px;
    padding: 4px 3px 4px 27px;
    width: 70px;
    transition: 0.4s ease-in-out;
    background-image: url("searchicon.png");
    background-size: 17px;
    background-position: 5px 5px;
    background-repeat: no-repeat;
}

#search-input:focus{
    background-color:white;
    color: black;
    outline: none;
    width: 80%;
    border: 1px solid rgba(246,158,49,0.4);
}

#search-button{
    background: none;
    border: none;
    font-size: 16px;
    display: none;
}
